
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

body{
    background-color: rgb(28, 28, 83);
    animation: fadeInAnimation ease 3s 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

                                    /* Main Content */
  #text{ 
    color: rgb(47, 202, 112);
    font-family: 'Russo One', sans-serif;
    font-size: 3.8rem;
}

#main-text{
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.8rem;
}

#resume{
    text-decoration: underline;
    color: yellow;
}

#resume:hover{
    text-decoration: none;
    box-shadow: inset 0 -50px 0 0 red;
    color: white;
    transition: all 0.8s ease-in-out;
}

#contact{
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.2rem;
}

.contact-list{
    display: flex;
    flex-wrap: wrap;
}

.contact-list li {
    color: white;
    font-size: 2rem;
    list-style: none;
    margin-left: 8px;
}

li a{
    color: white;
}

li a:hover{
    color: rgb(206, 101, 233);
} 